body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    text-align: center;
    margin-top: 50px;
}

.container {
    background: white;
    width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}